
  <tr> 
    <td><%= order.user.name %></td>
    <td><%= order.date %></td>
    <td><%= order.total %></td>
    <% if order.pending? %>
      <td class="pending_status" >
        <%= "pending...".capitalize %>    
      </td>
    <% elsif order.accepted? %>
      <td class="accepted_status" >
        <%= "accepted".capitalize %>    
      </td>
    <% else %>
      <td class="rejected_status" >
        <%= "rejected".capitalize %>    
      </td>
    <% end %>
     <td>
        <%= link_to admin_order_order_items_path(order_id: order.id) do %>
          <i class="glyphicon glyphicon-search"></i>
        <% end %>
      <% if order.pending? %>
        <%= link_to edit_admin_order_path(order) do %>
          <i class="glyphicon glyphicon-ok"></i>
        <% end %>
        <%= link_to admin_order_path(order) , method: :delete do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
      <% end %> 
    </td>
  </tr>
