
  <tr>
    <td><%= suggest.user.name %></td>
    <td><%= suggest.name %></td>
    <td><%= suggest.price %></td>
    <td><%= suggest.description %></td>
    <% if suggest.pending? %>
      <td class="pending_status" >
        <%= "pending...".capitalize %>    
      </td>
    <% elsif suggest.accepted? %>
      <td class="accepted_status" >
        <%= "accepted".capitalize %>    
      </td>
    <% else %>
      <td class="rejected_status" >
        <%= "rejected".capitalize %>    
      </td>
    <% end %>
    <td>
      <% if suggest.pending? %>
        <%= link_to edit_admin_suggest_path(suggest) do %>
          <i class="glyphicon glyphicon-ok"></i>
        <% end %>
        <%= link_to admin_suggest_path(suggest), method: :delete do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
      <% end %> 
    </td>
  </tr>