
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
              <%if product.image.present? %>
                <td class="image"><%= image_tag product.image_url.to_s %></td>
              <%else%>
                <td class="image"><%= image_tag("default.jpeg")%></td>
              <%end%>
              <div class="card-body">
                <h4 class="card-title">
                  <%= link_to product.name, product %>
                </h4>
                <h5><%= product.price %> VND</h5>
              </div>
              <button type="button" >
                  <%= link_to cart_path(product_id: product.id), method: :post, remote: true do %>
                  <i class="fa fa-shopping-cart"></i>
                  <span><%= t ".add_to_cart" %></span>
                  <% end %>
             </button>
    </div>
</div>
