<% provide :title, @product.name %>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://m.tienganh123.com/file/tienganhcoban/bai8/vocabulary/hinh%20minh%20hoa..jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><%= @product.name %></a>
                </h4>
                <h5><%= @product.price %> VND</h5>
                <p class="card-text"><%= @product.description %></p>
              </div>
              <button type="button" >
                  <%= link_to cart_path(product_id: @product.id), method: :post, remote: true do %>
                  <i class="fa fa-shopping-cart"></i>
                  <span><%= t ".add_to_cart" %></span>
                  <% end %>
             </button>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
    </div>
</div>


<div>
    <%= link_to "Add Review", new_product_review_path(@product), class: "btn-custom" %>
</div>

<div class="row">

  <div class="col-md-4">

    <div class="reviews">

      <!-- Where the reviews/ratings will go -->
      <h1>Reviews</h1>
     <%= render @product.reviews %>
      
    </div>  

  </div>

</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>