<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Food and Drink", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
                  <div class="login">
                    <%= link_to current_user do %>
                      <span class="glyphicon glyphicon-user"></span>
                      <span class="hidden-xs"><%= t ".my_account" %></span>
                    <% end %>
                  </div>

                  <div class="login">
                    <%= link_to signout_path, method: :delete do %>
                      <span class="glyphicon glyphicon-log-out"></span>
                      <span class="hidden-xs"><%= t ".log_out" %></span>
                    <% end %>
                  </div>
              <% else %>
                <div class="login">
                  <%= link_to signin_path do %>
                    <i class="fa fa-sign-in"></i>
                    <span class="hidden-xs"><%= t ".sign_in" %></span>
                  <% end %>
                </div>
                <div class="signup">
                  <%= link_to signup_path do %>
                    <i class="fa fa-user-plus"></i>
                    <span class="hidden-xs"><%= t ".sign_up" %></span>
                  <% end %>
                </div>
              <% end %>
<!--         <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Sign up",  signup_path %></li>
        <li><%= link_to "Sign in",  signin_path %></li>
        <li><%= link_to "Sign out", signout_path, method: :delete %></li> -->
      </ul>
    </nav>
  </div>
</header>