<header>
  <div class="header-container">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4 col-md-5 hidden-xs">
            <div class="welcome-msg "><%= t ".wellcome_msg" %></div>
          </div>
          <div class="headerlinkmenu col-lg-8 col-md-7 col-sm-8 col-xs-12">
            <div class="links">
              <% if user_signed_in? %>
                  <div class="login">
                    <%= link_to current_user do %>
                      <span class="glyphicon glyphicon-user"></span>
                      <span class="hidden-xs"><%= t ".my_account" %></span>
                    <% end %>
                  </div>
                  <div class="login">
                    <%= link_to orders_path do %>
                      <i class="fa fa-history"></i>
                      <span class="hidden-xs" ><%= t ".history_order" %></span>
                    <% end %>
                  </div>
                  <% if current_user.role != 1 %>
                    <div class="login">
                      <%= link_to new_suggest_path do %>
                        <i class="fa fa-history"></i>
                        <span class="hidden-xs" ><%= t ".suggest" %></span>
                      <% end %>
                    </div>
                  <% end %>  
                  <div class="login">
                    <%= link_to conversations_index_path do %>
                      <i class="fa fa-wechat"></i>
                      <span class="hidden-xs" ><%= t ".chat" %></span>
                    <% end %>
                  </div>
                  <% if current_user.role == 1 %>
                    <div class="login">
                      <%= link_to admin_root_path do %>
                        <i class="fa fa-tachometer"></i>
                        <span class="hidden-xs"><%= t ".admin" %></span>
                      <% end  %>
                    </div>
                  <% end %>
                  <div class="login">
                    <%= link_to signout_path, method: :delete do %>
                      <span class="glyphicon glyphicon-log-out"></span>
                      <span class="hidden-xs"><%= t ".log_out" %></span>
                    <% end %>
                  </div>
              <% else %>
                <div class="login">
                  <%= link_to signin_path do %>
                    <i class="fa fa-sign-in"></i>
                    <span class="hidden-xs"><%= t ".sign_in" %></span>
                  <% end %>
                </div>
                <div class="signup">
                  <%= link_to signup_path do %>
                    <i class="fa fa-user-plus"></i>
                    <span class="hidden-xs"><%= t ".sign_up" %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
